body{
    background-color: #be0fb895;
    color: white;
    font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h3{
    text-align: center;
    margin-top: 50px;
}

form div{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 1rem; 
    margin: 2rem auto; 
    max-width: 400px; 
    border: 2px solid blueviolet;
    border-radius: 12px;
    padding-bottom: 24px;
    }

label{
    margin-top: 24px;
    }

input[type=submit]{
    margin: 24px auto;
    background-color: blueviolet;
    color: white;
    border-radius: 12px;
    height: 48px;
    width: 40%;
    }

input[type=submit]:hover{
        cursor: pointer;
    }

input:focus{
        box-shadow: 0px 0px 10px cyan, 0px 0px 40px cyan;
        outline: none;
    }